__pycache__/
*.pyc
lightning_logs/
weights/
/backup
.vscode/
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/*.code-snippets
superhuge.egg-info/
build/
*egg-info/
matlab-preprocessing-code/
prepare_dataset/